@import "//fonts.googleapis.com/css?family=Bad+Script|Lobster|Marck+Script|Pattaya|Philosopher|Ruslan+Display";
header {
  height: 70px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  z-index: 999;
  top: 0; }
  header .site_title {
    background: url("../img/header/site_name_full.png") no-repeat;
    background-position: center;
    width: 100%;
    height: 70px; }

body {
  margin: 0;
  background: linear-gradient(to top, #D1F3FF, #0193FF);
  font-family: 'Pattaya', sans-serif; }

div.next {
  position: absolute;
  bottom: 0;
  z-index: 2;
  height: 60px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0; }
  div.next span {
    position: absolute;
    left: 50%;
    margin-left: -90px;
    font-size: 36px;
    color: #2b542c; }
    div.next span a {
      color: #2b542c;
      text-decoration: none; }

div.next-contact {
  position: relative;
  height: 60px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0; }
  div.next-contact span {
    position: absolute;
    left: 50%;
    margin-left: -90px;
    font-size: 36px;
    color: #2b542c; }
    div.next-contact span a {
      color: #2b542c;
      text-decoration: none; }

div#price_list {
  margin: 20px 0;
  width: 100%; }
  div#price_list table {
    max-width: 1400px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.7); }
    div#price_list table td {
      vertical-align: middle;
      padding: 5px; }
    @media screen and (max-width: 768px) {
      div#price_list table .grows {
        display: none; }
      div#price_list table tbody tr td:nth-child(4) {
        display: none; } }
    @media only screen and (max-width: 1300px) {
      div#price_list table .ihoda {
        display: none; }
      div#price_list table tbody tr td:nth-child(6), div#price_list table tbody tr td:nth-child(7),
      div#price_list table tbody tr td:nth-child(8), div#price_list table tbody tr td:nth-child(9) {
        display: none; } }

div#contact {
  margin: 20px 0; }
  div#contact form {
    margin: 150px auto;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 1400px;
    width: 100%;
    padding: 20px; }
    div#contact form p {
      text-align: justify; }
    @media only screen and (min-width: 1400px) {
      div#contact form {
        left: 50%;
        margin-left: -700px; } }

footer {
  background-color: rgba(255, 255, 255, 0.7);
  height: 60px;
  text-align: center;
  font-size: 24px;
  height: auto; }
  footer a {
    color: black;
    text-decoration: none;
    margin: 0 20px; }
    footer a:hover {
      color: #2b542c;
      cursor: pointer; }

.carousel-wrapper {
  overflow: auto;
  margin-top: -25px;
  padding: 0;
  position: fixed; }
  .carousel-wrapper .photo-carousel {
    margin-bottom: 5px; }
    .carousel-wrapper .photo-carousel.active {
      display: block; }
    .carousel-wrapper .photo-carousel .item .item-img {
      display: block;
      width: 100%; }
    .carousel-wrapper .photo-carousel .item .item-img {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
  .carousel-wrapper .photo-carousel:hover .owl-controls {
    opacity: 1; }
  .carousel-wrapper .photo-carousel .owl-controls {
    opacity: 0.5;
    -webkit-transition: opacity 150ms ease;
    -moz-transition: opacity 150ms ease;
    -ms-transition: opacity 150ms ease;
    -o-transition: opacity 150ms ease;
    transition: opacity 150ms ease; }
    .carousel-wrapper .photo-carousel .owl-controls:hover {
      opacity: 1.0; }
    .carousel-wrapper .photo-carousel .owl-controls .owl-nav {
      position: absolute;
      width: 100%;
      top: 50%;
      -webkit-transform: translateY(-25px);
      -moz-transform: translateY(-25px);
      -ms-transform: translateY(-25px);
      transform: translateY(-25px); }
      .carousel-wrapper .photo-carousel .owl-controls .owl-nav .owl-prev, .carousel-wrapper .photo-carousel .owl-controls .owl-nav .owl-next {
        position: absolute;
        display: inline-block;
        width: 25px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      .carousel-wrapper .photo-carousel .owl-controls .owl-nav .owl-prev {
        left: 25px; }
      .carousel-wrapper .photo-carousel .owl-controls .owl-nav .owl-next {
        right: 25px;
        -webkit-transform: scale(-1, 1);
        -moz-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
        filter: FlipH; }
  .carousel-wrapper .photo-carousel .owl-controls .owl-nav .owl-prev, .carousel-wrapper .photo-carousel .owl-controls .owl-nav .owl-next {
    background-image: url("../img/arrow-large-white.png"); }

/*# sourceMappingURL=main.css.map */
