// Background reset mixin
@mixin bg_reset( $pos, $size ) {
	background-repeat: no-repeat;
	background-position: $pos;
	background-size: $size;
}

// Transform mixin
@mixin transform( $transform ) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	transform: $transform;
}
// Transition mixin
@mixin transition( $property, $time ) {
	-webkit-transition: $property $time ease;
	-moz-transition: $property $time ease;
	-ms-transition: $property $time ease;
	-o-transition: $property $time ease;
	transition: $property $time ease;
}

.carousel-wrapper {
	overflow: auto;
	margin-top: -25px;
	padding: 0;
	position: fixed;
	.photo-carousel{
		margin-bottom: 5px;

		&.active { display: block; }

		.item {
			.item-img {
				display: block;
				width: 100%;
			}

			.item-img { @include bg_reset( center, cover ); }
		}
	}
	.photo-carousel{
		// fade in controls on hover over main wrapper
		&:hover .owl-controls { opacity: 1; }

		.owl-controls {
			opacity: 0.5;
			@include transition( opacity, 150ms );
			&:hover { opacity: 1.0; }

			.owl-nav {
				position: absolute;
				width: 100%;
				top: 50%;
				@include transform( translateY(-25px) );

				.owl-prev, .owl-next {
					position: absolute;
					display: inline-block;
					width: 25px;
					height: 40px;

					//background-image: url('/images/redesign/arrow-large-white.png');
					@include bg_reset( center, cover );
				}

				.owl-prev { left: 25px; }
				.owl-next {
					right: 25px;
					@include transform( scale(-1, 1) );
					filter: FlipH;
				}
			}

		}
	}

	.photo-carousel{
		.owl-controls {
			.owl-nav {
				.owl-prev, .owl-next {
					background-image: url('../img/arrow-large-white.png');
				}
			}

		}
	}

}