footer {
  background-color: $conteiner-bg-color;
  height: 60px;
  text-align: center;
  font-size: 24px;
  height: auto;
  a {
    color: black;
    text-decoration: none;
    margin: 0 20px;
    &:hover {
      color: #2b542c;
      cursor: pointer;
    }
  }


}