header{
  height: 70px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  z-index: 999;
  top: 0;
  .site_title{
    background: url("../img/header/site_name_full.png") no-repeat;
    background-position: center;
    width: 100%;
    height: 70px;
  }
}