



body {
  margin: 0;
  background: linear-gradient(to top, #D1F3FF, #0193FF);
  font-family: 'Pattaya', sans-serif;
}

div.next{
  position: absolute;
  bottom: 0;
  z-index: 2;
  height: 60px;
  width: 100%;
  background-color: $conteiner-bg-color;
  padding: 0;

  span{
    position: absolute;
    left: 50%;
    margin-left: -90px;
    font-size: 36px;
    color: #2b542c;
    a{
     color: #2b542c;
      text-decoration: none;
    }
  }
}

div.next-contact{
  position: relative;
  height: 60px;
  width: 100%;
  background-color: $conteiner-bg-color;
  padding: 0;

  span{
    position: absolute;
    left: 50%;
    margin-left: -90px;
    font-size: 36px;
    color: #2b542c;
    a{
      color: #2b542c;
      text-decoration: none;
    }
  }

}

div#price_list{
  margin: 20px 0;
  width: 100%;

  table{
    max-width: 1400px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    font-size: 20px;
    background-color: $conteiner-bg-color;
    td {
      vertical-align: middle;
      padding: 5px;
    }
    @media screen and (max-width: 768px){
      .grows {
        display: none;
      }
      tbody{
        tr{
          td:nth-child(4){
            display: none;
          }
        }
      }
    }
    @media #{$large-and-down} {
      .ihoda{
        display: none;
      }
      tbody{
        tr{
          td:nth-child(6), td:nth-child(7),
          td:nth-child(8), td:nth-child(9){
            display: none;
          }
        }
      }
    }

  }
}

div#contact{
  margin: 20px 0;

  form{
    margin: 150px auto;
    font-size: 20px;
    background-color: $conteiner-bg-color;
    max-width: 1400px;
    width: 100%;
    padding: 20px;
    p{
      text-align: justify;
    }
    @media only screen and (min-width : 1400px) {
      left: 50%;
      margin-left: -700px;
    }
  }
}
