//font-family variable
$lobster: 'Lobster', cursive;
$bad_script: 'Bad Script', cursive;
$philosopher: 'Philosopher', sans-serif;
$marck_script: 'Marck Script', cursive;
$pattaya: 'Pattaya', sans-serif;
$ruslan_display: 'Ruslan Display', cursive;

// Media Query Ranges
$small-screen-up: 568px !default;
$medium-screen-up: 768px !default;
$large-screen-up: 992px !default;
$extra-large-screen-up: 1200px !default;

$mac-default-down: "screen and (max-width: 1280px)" !default;

$small-screen: 567px !default;
$medium-screen: 900px !default;
$large-screen: 1300px !default;
$extra-large-screen: 1199px !default;

$small-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$medium-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$extra-large-screen-up})" !default;

$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$large-and-down: "only screen and (max-width : #{$large-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
$large-only: "only screen and (min-width : #{$medium-screen-up}) and (max-width : #{$large-screen})" !default;


$conteiner-bg-color: rgba(255, 255, 255, 0.7);

